/* prevent double-click highlighting */
* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body {
	margin: 10px 0 0 0;
	color: #fff;
}

#main {
	margin: 0 auto;
	width: 640px;
	height: 360px;
	background: #444;
	font-family: monospace;
}

#resources-container {
	width: 340px;
	position: relative;
	float: left;
	top: 24px;
	left: 36px;
	text-align: left;
	font-size: 12px;
}

#resource-counter-container {
	text-align: left;
}

.resource-counter {  }

#clicker-container { }

.clicker {
	cursor: pointer;
}

